<mat-toolbar>
	<div class="listToolbarLeft">
		<h2>{{ 'people' | i18n | capitalize}}</h2>
		<button mat-icon-button color="primary"
			*ngIf="authService.isAdmin()"
			matTooltip="{{'add' | i18n}}"
			routerLink="/people-add">
			<mat-icon>add_circle</mat-icon>
		</button>
	</div>

	<div class="listToolbarRight">
		<button mat-icon-button color="primary" matTooltip="{{'fields' | i18n}}" [matMenuTriggerFor]="fieldMenu">
			<mat-icon>visibility</mat-icon>
		</button>
		<mat-menu #fieldMenu="matMenu">
			<mat-selection-list #fields
				(click)="$event.stopPropagation()"
				(selectionChange)="onFieldsChange($event)">
				<ng-container *ngFor="let column of columns">
					<mat-list-option *ngIf="columnIsAllowed(column)"
						[value]="column"
						[selected]="column.show">
						{{ column.name | i18n | capitalize}}
					</mat-list-option>
				</ng-container>
			</mat-selection-list>
		</mat-menu>

		<button mat-icon-button color="primary" matTooltip="{{'filter' | i18n}}" [matMenuTriggerFor]="filterMenu">
			<mat-icon>filter_list</mat-icon>
		</button>
		<mat-menu #filterMenu="matMenu">
			<mat-selection-list #booleanFilter
				[(ngModel)]="booleanFilterValue"
				(click)="$event.stopPropagation()"
				(ngModelChange)="onBooleanFilterChange($event)">
				<mat-list-option *ngFor="let field of booleanColumns"
					[value]="field">
					{{ 'only' | i18n | capitalize}} {{ field | i18n}}
				</mat-list-option>
			</mat-selection-list>
		</mat-menu>

		<mat-form-field class="textSearch">
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'filter' | i18n | capitalize}}">
		</mat-form-field>
	</div>
</mat-toolbar>

<mat-table [dataSource]="dataSource" matSort>
	<ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
		<mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!column.sortable">
			{{ column.header || column.name | i18n }}
		</mat-header-cell>

		<mat-cell *matCellDef="let row">
			<ng-container *ngIf="!column.component">
				{{ column.cell ? column.cell(row) : row[column.name] }}
			</ng-container>

			<ng-container *ngIf="column.component">
				<ng-container *ngIf="column.component === 'rowAvatar'">
					<img *ngIf="row.photo" matListAvatar src="{{row.photo}}">
					<mat-icon *ngIf="!row.photo" matListIcon>person</mat-icon>
				</ng-container>

				<ng-container *ngIf="column.component === 'rowButtons'">
					<button mat-icon-button color="primary"
						matTooltip="{{'details' | i18n}}"
						routerLink="/people/{{row.id}}">
						<mat-icon>info</mat-icon>
					</button>
					<ng-container *ngIf="authService.isAdmin()">
						<button mat-icon-button color="accent"
							matTooltip="{{'edit' | i18n}}"
							routerLink="/people-edit/{{row.id}}">
							<mat-icon>edit</mat-icon>
						</button>
						<button mat-icon-button color="warn"
							matTooltip="{{'delete' | i18n}}"
							(click)="delete(row)">
							<mat-icon>delete</mat-icon>
						</button>
					</ng-container>
				</ng-container>
			</ng-container>
		</mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
