<mat-toolbar class="listToolbar">
	<div class="listToolbarTitle">
		<h2>My People</h2>
		<button mat-icon-button color="primary" matTooltip="{{'add' | i18n}}" routerLink="/people-add">
			<mat-icon>add_circle</mat-icon>
		</button>

		<button mat-icon-button color="primary" matTooltip="{{'fields' | i18n}}" [matMenuTriggerFor]="fieldMenu">
			<mat-icon>visibility</mat-icon>
		</button>
		<mat-menu #fieldMenu="matMenu">
			<ng-container *ngFor="let column of columns">
				<div mat-menu-item *ngIf="columnIsAllowed(column)"
					[disabled]="!column.show"
					(click)="$event.stopPropagation(); toggleColumn(column)">
					{{ column.name | i18n | titlecase}}
				</div>
			</ng-container>
		</mat-menu>
	</div>

	<mat-form-field class="listToolbarFilter">
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'filter' | i18n | titlecase}}">
	</mat-form-field>
</mat-toolbar>

<mat-table [dataSource]="dataSource" matSort>
	<ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
		<mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!column.sortable">
			{{ column.header || column.name | i18n }}
		</mat-header-cell>

		<mat-cell *matCellDef="let row">
			<ng-container *ngIf="!column.component">
				{{ column.cell ? column.cell(row) : row[column.name] }}
			</ng-container>

			<ng-container *ngIf="column.component">
				<ng-container *ngIf="column.component === 'rowAvatar'">
					<img *ngIf="row.photo" matListAvatar src="{{row.photo}}">
					<mat-icon *ngIf="!row.photo" matListIcon>person</mat-icon>
				</ng-container>

				<ng-container *ngIf="column.component === 'rowButtons'">
					<button mat-icon-button color="primary" matTooltip="{{'details' | i18n}}" routerLink="/people/{{row.id}}">
						<mat-icon>info</mat-icon>
					</button>
					<button mat-icon-button color="primary" matTooltip="{{'edit' | i18n}}" routerLink="/people-edit/{{row.id}}">
						<mat-icon>edit</mat-icon>
					</button>
					<button mat-icon-button color="warn" matTooltip="{{'delete' | i18n}}" (click)="delete(row)">
						<mat-icon>delete</mat-icon>
					</button>
				</ng-container>
			</ng-container>
		</mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
