mat-sidenav-container
	position absolute
	top 60px
	bottom 0
	left 0
	right 0

@media (max-width: 599px)
	mat-sidenav-container
		top 56px

mat-sidenav
	display flex
	align-items start
	justify-content start
	width 200px
	padding-left 8px
	background #f0f0f0

mat-sidenav-content
	padding 8px
	height calc(100% - 16px)
