<mat-toolbar>
	<button mat-icon-button class="backButton" color="primary" matTooltip="{{'back' | i18n}}" (click)="goBack()">
		<mat-icon>undo</mat-icon>
	</button>
	<ng-container *ngIf="person">
		<h2>{{'person details' | i18n | capitalize}}</h2>
		<ng-container *ngIf="authService.isAdmin()">
			<button mat-icon-button color="accent"
				matTooltip="{{'edit' | i18n}}"
				routerLink="/people-edit/{{person.id}}">
				<mat-icon>edit</mat-icon>
			</button>
			<button mat-icon-button color="warn"
				matTooltip="{{'delete' | i18n}}"
				(click)="delete(person)">
				<mat-icon>delete</mat-icon>
			</button>
		</ng-container>
	</ng-container>
</mat-toolbar>

<mat-list *ngIf="person">
	<mat-list-item *ngFor="let personProp of person | keyvalue">
		<mat-icon matListIcon>navigate_next</mat-icon>
		<h3 matLine>{{personProp.key | i18n | uppercase}}</h3>
		<span matLine>{{personProp.value}}</span>
	</mat-list-item>
</mat-list>
