<div class="loginContainer">
	<mat-card>
		<form [formGroup]="form" (ngSubmit)="login()">
			<mat-form-field class="fullWidthInput">
				<input matInput required
					placeholder="{{ 'email' | i18n | titlecase }}"
					autocomplete="username"
					formControlName="email">
			</mat-form-field>
			<mat-form-field class="fullWidthInput">
				<input matInput required
					type="password"
					placeholder="{{ 'password' | i18n | titlecase }}"
					autocomplete="current-password"
					formControlName="password">
			</mat-form-field>
			<button mat-raised-button color="primary" [disabled]="!form.valid">
				{{ 'submit' | i18n | titlecase }}
			</button>
		</form>
		<mat-card-footer>
			<app-language-menu></app-language-menu>
		</mat-card-footer>
	</mat-card>
</div>
