<mat-toolbar>
	<button mat-icon-button class="backButton" color="primary" matTooltip="{{'back' | i18n}}" (click)="goBack()">
		<mat-icon>undo</mat-icon>
	</button>
	<ng-container *ngIf="form.get('name') && form.get('name').value">
		<h2>{{'edit' | i18n | capitalize}} {{'person' | i18n}}</h2>
	</ng-container>
	<ng-container *ngIf="form.get('name') && !form.get('name').value">
		<h2>{{'add' | i18n | capitalize}} {{'person' | i18n}}</h2>
	</ng-container>
</mat-toolbar>

<form autocomplete="off" [formGroup]="form">
	<mat-form-field>
		<input matInput
			required
			placeholder="{{'name' | i18n | capitalize}}"
			formControlName="name">
	</mat-form-field>
	<mat-form-field>
		<input matInput
			required
			placeholder="{{'surname' | i18n | capitalize}}"
			formControlName="surname">
	</mat-form-field>
	<mat-form-field>
		<input matInput
			required
			placeholder="{{'dni' | i18n | uppercase}}"
			formControlName="dni">
	</mat-form-field>
	<mat-form-field>
		<input matInput
			required
			[matDatepicker]="entryPicker"
			placeholder="{{'entry' | i18n | capitalize}}"
			formControlName="entry">
		<mat-datepicker-toggle matSuffix [for]="entryPicker"></mat-datepicker-toggle>
		<mat-datepicker #entryPicker></mat-datepicker>
	</mat-form-field>
	<mat-list>
		<mat-checkbox formControlName="regular">
			{{'regular' | i18n | capitalize}}
		</mat-checkbox>
		<mat-checkbox formControlName="federated">
			{{'federated' | i18n | capitalize}}
		</mat-checkbox>
	</mat-list>
	<mat-form-field>
		<input matInput
			placeholder="{{'email' | i18n | capitalize}}"
			formControlName="email">
	</mat-form-field>
	<mat-form-field>
		<input matInput
			[matDatepicker]="birthPicker"
			placeholder="{{'birth' | i18n | capitalize}}"
			formControlName="birth">
		<mat-datepicker-toggle matSuffix [for]="birthPicker"></mat-datepicker-toggle>
		<mat-datepicker #birthPicker></mat-datepicker>
	</mat-form-field>
	<mat-list>
		<h3 mat-subheader>{{'sex' | i18n | capitalize}}</h3>
		<mat-radio-group formControlName="sex">
			<mat-radio-button value="f">{{'female' | i18n | capitalize}}</mat-radio-button>
			<mat-radio-button value="m">{{'male' | i18n | capitalize}}</mat-radio-button>
			<mat-radio-button value="o">{{'other' | i18n | capitalize}}</mat-radio-button>
		</mat-radio-group>
	</mat-list>
	<mat-form-field>
		<input matInput
			placeholder="{{'cp' | i18n | capitalize}}"
			formControlName="cp">
	</mat-form-field>
	<mat-form-field>
		<input matInput
			placeholder="{{'province' | i18n | capitalize}}"
			formControlName="province">
	</mat-form-field>
	<mat-form-field>
		<input matInput
			placeholder="{{'locality' | i18n | capitalize}}"
			formControlName="locality">
	</mat-form-field>
	<mat-form-field>
		<input matInput
			placeholder="{{'address' | i18n | capitalize}}"
			formControlName="address">
	</mat-form-field>
	<mat-form-field>
		<input matInput
			placeholder="{{'phone1' | i18n | capitalize}}"
			formControlName="phone1">
	</mat-form-field>
	<mat-form-field>
		<input matInput
			placeholder="{{'phone2' | i18n | capitalize}}"
			formControlName="phone2">
	</mat-form-field>
	<mat-form-field>
		<input matInput
			placeholder="{{'occupation' | i18n | capitalize}}"
			formControlName="occupation">
	</mat-form-field>
	<mat-form-field>
		<textarea matInput
			placeholder="{{'notes' | i18n | capitalize}}"
			formControlName="notes"></textarea>
	</mat-form-field>
</form>

<div class="buttonRow">
	<button mat-mini-fab color="primary" matTooltip="{{'submit' | i18n}}" (click)="submit()">
		<mat-icon>done</mat-icon>
	</button>
	<button mat-mini-fab color="warn" matTooltip="{{'back' | i18n}}" (click)="goBack()">
		<mat-icon>undo</mat-icon>
	</button>
</div>
