.backButton
	margin-right 16px

form
	display flex
	flex-flow column
	max-width 400px
	padding 16px


.mat-list
	padding 16px 0

	.mat-subheader
		height 30px
		padding 0

	mat-radio-button
	mat-checkbox
		margin-right 16px

.buttonRow
	button
		margin 0 8px
