mat-toolbar
	overflow hidden
	justify-content space-between

.listToolbarRight
	.textSearch
		font-size 14px

.cardContainer
	display flex
	flex-wrap wrap
	justify-content space-around

mat-card
	max-width 200px
	margin 8px
